<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ADFSUri" value="https://sts.crm.com/"/>
    <add key="ClientId" value="A4EC2F43-9F3E-4504-9C9A-CC7B3F5FAA74"/>
    <add key="RedirectUri" value="http://127.0.0.1:5000/Api/Token"/>
    <add key="IsIfd" value="True"/>
    <add key="Resource" value="https://demo.crm.com:446/"/>
    <add key="Organization" value="demo"/>
    <add key="Version" value="8.2"/>
    <add key="DomainName" value="crm"/>
    <add key="UserName" value="administrator"/>
    <add key="Password" value="123+abc"/>
  </appSettings>
</configuration>